<div class="container">
  <div class="row d-flex justify-content-center">
    ボディタイプ登録
  </div>
  <%= form_with model: @bodytype, url: bodytypes_path, method: :post do |f| %>
  <div class="row d-flex justify-content-center">
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.label :name, "ボディタイプ" %></td>
        <td><%=f.text_field :name %></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="row d-flex justify-content-center align-center pl5">
    <%= f.submit "登録", class: "btn btn-primary" %>
  </div>
  <% end %>


  <div class="row d-flex justify-content-center">
    ボディタイプ一覧
  </div>
  <div class="row d-flex justify-content-center">
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <% @bodytypes.each do |bodytype| %>
      <tbody>
        <tr>
          <td><%= bodytype.id %></td>
          <td><%= bodytype.name %></td>
          <td><%= link_to "編集する", edit_bodytype_path(bodytype.id) %></td>
          <td><%= link_to "削除する", bodytype_path(bodytype.id), method: :delete %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>