<div class="container">
  <div class="row justify-content-center mt-2">
    <div class="col-md-6">
      <%= form_with model: @bodytype, url: bodytypes_path, method: :post do |f| %>
        <table class="table">
          <tbody>
            <tr>
              <td><%= f.label :name, "ボディタイプ" %></td>
              <td><%= f.text_field :name, class: "form-control" %></td>
            </tr>
          </tbody>
        </table>
        <div class="text-center">
          <%= f.submit "登録", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row justify-content-center mt-4">
    <div class="col-md-6">
      <h2 class="text-center">ボディタイプ一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>ボディタイプ名</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @bodytypes.each do |bodytype| %>
            <tr>
              <td><%= bodytype.id %></td>
              <td><%= bodytype.name %></td>
              <td><%= link_to "編集する", edit_bodytype_path(bodytype.id), class: "btn btn-success btn-sm" %></td>
              <td><%= link_to "削除する", bodytype_path(bodytype.id), method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: "btn btn-danger btn-sm" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
