<div class="container" style="max-width: 100%; max-height: 100%;">
  
  <%= render 'user/homes/head' %>
  
    <%= form_with url: result_user_car_searches_path, method: :get do |f| %>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="check-title">
          メーカー選択(選択無しでも可)
        </div>
          <div class="radio-button-check  d-flex justify-content-center">
            <% @maker.each do |maker| %>
              <div class="radio-button-text">
                <%= f.radio_button :maker_id, maker.id%>
              </div>
              <div class="radio-button-text">
                <%= maker.name %>
              </div>
            <% end %>
          </div>
      </div>
    </div>

    <div class="row justify-content-center">
      <div class="col-md-2">
        <div class="check-title">
          人数選択
        </div>
          <div class="radio-button-check">
            <div class="radio-button-text"><%= f.radio_button :num_people, 2 %></div>
            <div class="radio-button-text"><%= f.label :num_people, "2人以下" %></div>
            <div class="radio-button-text"><%= f.radio_button :num_people, 4 %></div>
            <div class="radio-button-text"><%= f.label :num_people, "4人" %></div>
            <div class="radio-button-text"><%= f.radio_button :num_people, 5 %></div>
            <div class="radio-button-text"><%= f.label :num_people, "5人" %></div>
            <div class="radio-button-text"><%= f.radio_button :num_people, 6 %></div>
            <div class="radio-button-text"><%= f.label :num_people, "6人以上" %></div>
          </div>
      </div>
    </div>
    
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="check-title">
          ボディタイプ選択
        </div>
        <div class="radio-button-check  d-flex justify-content-center">
          <% @bodytype.each do |bodytype| %>
            <div class="radio-button-text"><%= f.radio_button :bodytype_id, bodytype.id %></div>
            <div class="radio-button-text"><%= bodytype.name %></div>
          <% end %>
        </div>
      </div>
    </div> 
    
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="check-title">
          燃料種別選択
        </div>
        <div class="radio-button-check  d-flex justify-content-center">
          <% @fuel.each do |fuel| %>
            <div class="radio-button-text"><%= f.radio_button :fuel_id, fuel.id %></div>
            <div class="radio-button-text"><%= fuel.name %></div>
          <% end %>
        </div>
      </div>
    </div>   
    
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="check-title">
          利用目的選択(2つまで)
        </div>
        <div class="radio-button-check  d-flex justify-content-center">
          <% @default_tags.each do |tag| %>
            <div class="radio-button-text"><%= check_box_tag 'tags[]', tag %></div>
            <div class="radio-button-text"><%= tag %></div>
          <% end %>
        </div>
      </div>
    </div>  
    
    <div class="row justify-content-center">
      <div class="col-md-7">
        <div class="check-title">
          こだわり条件選択(2つまで)
        </div>
        <div class="radio-button-check  d-flex justify-content-center">
          <% @discerning.each do |discerning| %>
            <div class="radio-button-text"><%= check_box_tag 'discerning[]', discerning %></div>
            <div class="radio-button-text"><%= discerning %></div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="check-title">
      <%= f.submit '検索', class: 'btn btn-primary'  %>
    </div>
    <% end %>
</div>

