<div class="container">
  <div class="row justify-content-center">
    <%= form_with url: result_user_car_searches_path, method: :get do |f| %>
    <div>
      <div class="mb-3">
        ①利用目的選択
        <div>
          <% @tag.each do |tag| %>
          <%= f.radio_button :tag_id, tag.id %>
          <%= tag.name %>
          <% end %>
        </div>
      </div>
      <div class="mb-3">
        ②人数選択
        <div>
          <%= f.radio_button :num_people, 2 %>
          <%= f.label :num_people, "2人以下" %>
          <%= f.radio_button :num_people, 4 %>
          <%= f.label :num_people, "4人" %>
          <%= f.radio_button :num_people, 5 %>
          <%= f.label :num_people, "5人" %>
          <%= f.radio_button :num_people, 6 %>
          <%= f.label :num_people, "6人以上" %>
        </div>
      </div>
      <div class="mb-3">
        ③ボディタイプ選択
        <div>
          <% @bodytype.each do |bodytype| %>
          <%= f.radio_button :bodytype_id, bodytype.id %>
          <%= bodytype.name %>
          <% end %>
        </div>
      </div>
      <div class="mb-3">
        ③燃料種別選択
        <div>
          <% @fuel.each do |fuel| %>
          <%= f.radio_button :fuel_id, fuel.id %>
          <%= fuel.name %>
          <% end %>
        </div>
      </div>
      <div class="mb-3">
        ③こだわり条件選択(2つまで)
        <div>
          <% @discerning.each do |discerning| %>
          <%= check_box_tag 'discerning[]', discerning %>
          <%= discerning %>
          <% end %>
        </div>
      </div>
      <%= f.submit '検索', class: 'btn btn-primary'  %>
    </div>
    <% end %>
  </div>
</div>