<div class="container" style="max-width: 100%; max-height: 100%;">


      <div class="row justify-content-center mt-2">
        <ul class="list-unstyled">
          <li class="mb-3"><%= link_to "車種登録", check_caritems_path, class: "btn btn-primary" %></li>
        </ul>
      </div>
    </div>
    
    <div  class="row" style=" max-width:70%; margin: 0 auto; margin-top: 5px; ">
      <% @caritems.each do |caritem| %>
      <div class="col-md-4 mt-3">
        <div class="card">
          <div class="card-header">
            <div class="card-title" style="font-size: 20px; font-weight: bold;"><%= caritem.name %></div>
          </div>
          <div class="card-body">
            <%= link_to caritem_path(caritem.id) do %>
              <%= image_tag caritem.get_image(300,300), class:"card-img-top" %>
            <% end %>
            <div class="card-text">
              メーカー：<%= caritem.maker.name %>
            </div>
            <div class="card-text">
              ボディタイプ：<%= caritem.bodytype.name %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
      <%= paginate @caritems %>
    </div>
  </div>
</div>

