<div class="container">
  <div class="row mt-4">
    <div class="col-lg-2">
      <div>
        <ul class="list-unstyled">
          <li class="mb-3"><%= link_to "車種登録", check_caritems_path, class: "btn btn-primary" %></li>
        </ul>
      </div>
    </div>
    <div class="col-lg-8">
      <table class="table table-bordered table-striped">
        <thead class="thead-light">
          <tr>
            <th>車種ID</th>
            <th>メーカーID</th>
            <th>燃料</th>
            <th>ボディタイプ</th>
            <th>車種名</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @caritems.each do |caritem| %>
          <tr>
            <td><%= caritem.id %></td>
            <td><%= caritem.maker.name %></td>
            <td><%= caritem.fuel.name %></td>
            <td><%= caritem.bodytype.name %></td>
            <td><%= caritem.name %></td>
            <td><%= link_to "詳細", caritem_path(caritem.id), class: "btn btn-info btn-sm" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
