<div class="container">
  <div class="row" style="height: 50vh; margin-top: 20px;">
    <div class="col-lg-2">
      <div>
        <li><%= link_to "車種登録", check_caritems_path %></li>
      </div>
    </div>
    <div class="col-lg-8 d-flex justify-content-center">
      <table>
        <thead>
          <tr>
            <th>車種ID</th>
            <th>メーカーID</th>
            <th>燃料</th>
            <th>ボディタイプ</th>
            <th>車種名</th>
            <th></th>
          </tr>
        </thead>
        <% @caritems.each do |caritem| %>
        <tbody>
          <tr>
            <td><%= caritem.id %></td>
            <td><%= caritem.maker.name %></td>
            <td><%= caritem.fuel.name %></td>
            <td><%= caritem.bodytype.name %></td>
            <td><%= caritem.name %></td>
            <td><%= link_to "詳細", caritem_path(caritem.id) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">

    </div>
  </div>
</div>
