<div class="container" style="max-width: 100%; max-height: 100%;">
  
  <%= render 'user/homes/head' %>
  
  <%= form_with model: @review, url: create_tag_user_reviews_path(@review.id), method: :patch do |f| %>
    <div class="row justify-content-center"> <!--d-flexは削除-->
      <div class="col-md-4 mt-2">

        <!-- 車種名表示 -->
        <h3 class="text-center"  style="font-weight: bold;"><%= @review.car_item.maker.name %><%= @review.car_item.name %></h3>
        <!-- レビュータイトル表示 -->
        <div>レビュータイトル：<%= @review.title_rev %></div>

        <!-- 主な使用シーン選択 -->
        <div class="mb-3 mt-2">
          <label>主な使用シーン選択：</label>
          <div class="d-flex flex-wrap">
            <% @default_tags.each do |tag| %>
              <div class="form-check mr-3 mb-2">
                <%= check_box_tag 'review[name][]', tag, @review.tags.include?(tag), class: "form-check-input" %>
                <%= label_tag tag, tag, class: "form-check-label" %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- 送信ボタン -->
        <div class="d-flex justify-content-center">
          <%= f.submit "タグを登録" ,class: 'btn btn-primary' %>
        </div>
      </div>
    </div>
  <% end %>
</div>
