<div class="container">
  <div>
    <div class="row">
      <%= @maker.name %>のレビュー一覧
    </div>
    <div class="row">
      <table class="table table-bordered table-striped">
        <thead class="thead-light">
          <tr>
            <th>車種名</th>
            <th>メーカー</th>
            <th>タイトルー</th>
            <th>投稿者</th>
            <th>投稿日</th>
          </tr>
        </thead>
        <% @maker.reviews.each do |review| %>
        <tbody>
          <tr>
            <td><%= review.car_item.name %></td>
            <td><%= review.car_item.maker.name %></td>
            <td><%= link_to user_review_path(review.id) do %><%= review.title_rev %><% end %></td>
            <td><%= review.user.first_name %><%= review.user.last_name %></td>
            <td><%= review.updated_at.strftime("%Y/%m/%d") %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
