<div class="container">
  <div>
    <div class="row text-center" style="font-size: 20px; font-weight: bold;">
      <div class="col-lg-12 mt-2">
        <%= @maker.name %>のレビュー一覧
      </div>
    </div>
    <div class="row">
        <% @reviews.each do |review| %>
        <div class="col-md-4 mb-4 mt-2">
          <div class="card">
            <div class="card-header">
              <h5 class="card-title"><%= review.title_rev %></h5>
            </div>
            <div class="card-body">
              <%= link_to user_review_path(review.id) do %>
                <% if review.image.present? %>
                  <%= image_tag review.image, size: "200x150" , class:"card-img-top";  %>
                <% else %>
                  <%= image_tag "no_image.jpg", size: "200x150" , class:"card-img-top"; %>
                <% end %>
              <% end %>
              <p class="card-text">車種名: <%= review.car_item.name %></p>
              <p class="card-text">メーカー: <%= review.car_item.maker.name %></p>
              <p class="card-text">投稿者: <%= review.user.first_name %><%= review.user.last_name %></p>
              <p class="card-text">投稿日: <%= review.updated_at.strftime("%Y/%m/%d") %></p>
            </div>
          </div>
        </div>
        <% end %>
    </div>
    <%= paginate @reviews %>
  </div>
