<div class="container" style="max-width: 100%; max-height: 100%;">
  
  <%= render 'user/homes/head' %>
  
  <div>
    <div class="row" style=" max-width:70%; margin: 0 auto;">
      <% if @car_item.any? %>
        <% @car_item.each do |car_item| %>
        <div class="col-md-4 mt-3">
          <div class="card">
            <div class="card-header">
              <div class="card-title" style="font-size: 20px; font-weight: bold;"><%= car_item.name %></div>
            </div>
            <div class="card-body">
              <div class="card-text">
                <%= image_tag car_item.get_image(300,300) %>
              </div>
              <%= form_with url: index_rev_carname_user_reviews_path, method: :get do |form| %>
                <%= form.hidden_field :car_item_id, :value => car_item.id %>
                <div class="card-text text-right">
                  <%= form.submit "レビュー一覧へ", class:"btn-light-blue" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      <% else %>
        <div class="col-lg-12 text-center" style="font-size: 24px; font-weight: bold;">該当するアイテムは見つかりませんでした。</div>
      <% end %>
      <%= paginate @car_item %>
    </div>
  </div>
</div>