<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">

      <div class="mb-3">
        メーカーで検索
        <div>
          <% @maker.each do |maker| %>
            ・<%= link_to maker.name, result_rev_maker_user_reviews_path(maker.id) %>
          <% end %>
        </div>

      </div>

      <div class="mb-3">
        車種名で検索(例：プリウス)
        <div>
          <%= form_with url: result_rev_carname_user_reviews_path, method: :get do |form| %>
            <%= form.text_field :keyword, placeholder: "キーワードを入力してください", class: 'form-control'  %>
            <%= form.submit "検索", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>

      <div class="mb-3">
        タグで検索
        <div>
          <% @tag_list.each do |list| %>
            <i class="fa-sharp fa-solid fa-tag"></i>
            <%=link_to list.name, tag_search_user_reviews_path(list.id) %>
          <% end %>
        </div>
      </div>

    </div>
  </div>

</div>