<div class="container">
  <div class="row">
    <div class="col-md-6 mt-3">
      <table class="table">
        <tbody>
          <tr>
            <th>メーカー</th>
            <td><%= @review.maker.name %></td>
          </tr>
          <tr>
            <th>車種</th>
            <td><%= @review.car_item.name %></td>
          </tr>
          <tr>
            <th>レビュータイトル</th>
            <td><%= @review.title_rev %></td>
          </tr>
          <tr>
            <th>投稿画像</th>
            <td><%= image_tag @review.image, size: "200x150" %></td>
          </tr>
          <tr>
            <th>お気に入りの点</th>
            <td><%= @review.favorite %></td>
          </tr>
          <tr>
            <th>不満点</th>
            <td><%= @review.complain %></td>
          </tr>
        </tbody>
      </table>
      <div>
        <div class="border p-3"  style="background-color: #ffffff">
          <p style="color:#894537;"><b>レビューに対するコメント</b></p>
          <% @review.comments.each do |comment| %>
          <div><%= comment.comment %></div>
          <div class="mb-2">(<%= comment.user.last_name %><%= comment.user.first_name %>さん<%= comment.created_at.strftime('%Y/%m/%d') %>)
            <% if current_user.id == comment.user.id %>
              <%= link_to "コメント削除", user_review_comment_path(comment.review.id, comment.id), method: :delete %>
            <% end %></div>
          <% end %>
          <p class="text-right" style="color:#894537;">コメント件数:<%= @review.comments.count %></p>
        </div>

      </div>
      <div>
        <%= form_with model: [@review, @comment], url: user_review_comments_path(@review.id), method: :post do |f| %>
          <%= f.text_area :comment, rows: '2', placeholder: "コメントを入力", class: "form-control mt-1"  %>
          <div><%= f.submit "コメントする", class: "btn btn-primary mt-2" %></div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6 mt-3">
      <div class="mb-2">
        <div class="d-flex flex-wrap">
          <div class="pr-1" style="font-size: 16px; font-weight: bold;">
            主な使用シーン
          </div>
          <% @review_tags.each do |tag| %>
          <span class="badge badge-primary mr-2">
            <i class="fas fa-tag"></i> <%= tag.name %>
          </span>
            <% end %>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>項目</th>
            <th>評価</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>デザイン</td>
          <td><%= @review.design %></td>
        </tr>
        <tr>
          <td>走行性能</td>
          <td><%= @review.performance %></td>
        </tr>
        <tr>
          <td>燃費</td>
          <td><%= @review.fuel_consumptionrev %></td>
        </tr>
        <tr>
          <td>静粛性</td>
          <td><%= @review.quietness %></td>
        </tr>
        <tr>
          <td>振動</td>
          <td><%= @review.vibration %></td>
        </tr>
        <tr>
          <td>室内スペース</td>
          <td><%= @review.indoor_space %></td>
        </tr>
        <tr>
          <td>荷室スペース</td>
          <td><%= @review.luggage_space %></td>
        </tr>
        <tr>
          <td>本体価格</td>
          <td><%= @review.price %></td>
        </tr>
        <tr>
          <td>維持費</td>
          <td><%= @review.maintenance_cost %></td>
        </tr>
        <tr>
          <td>安全機能</td>
          <td><%= @review.safety %></td>
        </tr>
        <tr>
          <td>運転支援</td>
          <td><%= @review.assistance %></td>
        </tr>
        <tr>
          <td>総合評価</td>
          <td><%= @review.evaluation %></td>
        </tr>
        </tbody>
      </table>
      <div>
        <div class="mb-2" style="font-size: 16px; font-weight: bold;">レビュー公開状況：<%= @review.status_i18n %></div>
      </div>
      <% if @review.user_id == current_user.id %>
        <%= link_to "編集する", edit_user_review_path(@review.id), class:"link btn btn-sm btn-success"  %>
        <%= link_to "削除する", user_review_path(@review.id), method: :delete, class:"link btn btn-sm btn-danger"  %>
      <% end %>
      <div class="mt-1">
        <%= form_with url: new_user_review_path, method: :get do |form| %>
          <%= form.hidden_field :car_item_id, :value => @review.car_item.id %>
          <%= form.submit "#{@review.car_item.name}のレビューを投稿する", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div>
    </div>
  </div>

</div>