<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>
        メーカー：<%= @review.maker.name %>
      </div>
      <div>
        車種：<%= @review.car_item.name %>
      </div>
      <div>
        レビュータイトル：<%= @review.title_rev %>
      </div>
      <div>
        <p>投稿画像</p>
        <%= image_tag @review.image, size: "300x300" %>
      </div>
      <div>
        <p>お気に入りの点</p>
        <%= @review.favorite %>
      </div>
      <div>
        <p>不満点</p>
        <%= @review.complain %>
      </div>
      <div>
        <p>コメント件数:<%= @review.comments.count %></p>
        <div class="border p-3">
          <% @review.comments.each do |comment| %>
          <p><%= comment.comment %>
            (<%= comment.user.last_name %><%= comment.user.first_name %>さん
            <%= comment.created_at.strftime('%Y/%m/%d') %>)
            <% if current_user.id == comment.user.id %>
              <%= link_to "コメント削除", user_review_comment_path(comment.review.id, comment.id), method: :delete %>
            <% end %>
          </p>
          <% end %>
        </div>
      </div>
      <div>
        <%= form_with model: [@review, @comment], url: user_review_comments_path(@review.id), method: :post do |f| %>
          <%= f.text_area :comment, rows: '5', placeholder: "コメントを入力" %>
          <div><%= f.submit "コメントする", class: "btn btn-primary" %></div>
        <% end %>
      </div>
    </div>

    <div class="col-md-6">
      <div>
        <p>主な使用シーン</p>
        <div class="d-flex flex-wrap">
          <% @review_tags.each do |tag| %>
          #<%= tag.name %>
          <% end %>
        </div>
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>項目</th>
            <th>評価</th>
          </tr>
        </thead>
        <tbody>
        <tr>
          <td>デザイン</td>
          <td><%= @review.design %></td>
        </tr>
        <tr>
          <td>走行性能</td>
          <td><%= @review.performance %></td>
        </tr>
        <tr>
          <td>燃費</td>
          <td><%= @review.fuel_consumptionrev %></td>
        </tr>
        <tr>
          <td>静粛性</td>
          <td><%= @review.quietness %></td>
        </tr>
        <tr>
          <td>振動</td>
          <td><%= @review.vibration %></td>
        </tr>
        <tr>
          <td>室内スペース</td>
          <td><%= @review.indoor_space %></td>
        </tr>
        <tr>
          <td>荷室スペース</td>
          <td><%= @review.luggage_space %></td>
        </tr>
        <tr>
          <td>本体価格</td>
          <td><%= @review.price %></td>
        </tr>
        <tr>
          <td>維持費</td>
          <td><%= @review.maintenance_cost %></td>
        </tr>
        <tr>
          <td>安全機能</td>
          <td><%= @review.safety %></td>
        </tr>
        <tr>
          <td>運転支援</td>
          <td><%= @review.assistance %></td>
        </tr>
        <tr>
          <td>総合評価</td>
          <td><%= @review.evaluation %></td>
        </tr>
        </tbody>
      </table>
      <div>
        <p>レビュー：<%= @review.status_i18n %></p>
      </div>
      <% if @review.user.id == current_user.id %>
        <%= link_to "編集する", edit_user_review_path(@review.id), class:"link btn btn-sm btn-success"  %>
        <%= link_to "削除する", user_review_path(@review.id), method: :delete, class:"link btn btn-sm btn-danger"  %>
      <% end %>
      <div class="mt-1">
        <%= form_with url: new_user_review_path, method: :get do |form| %>
          <%= form.hidden_field :car_item_id, :value => @review.car_item.id %>
          <%= form.submit "#{@review.car_item.name}のレビューを投稿する", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
    <div>
    </div>
  </div>

</div>