<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <div class="mt-3">
    <table class="table table-bordered table-striped">
      <thead class="thead-light">
      </thead>
      <tbody>
        <tr>
          <th>車種画像</th>
          <td><%= image_tag @caritem.get_image(300,300) %></td>
        </tr>
        <tr>
          <th>車種名</th>
          <td><%= @caritem.name %></td>
        </tr>
        <tr>
          <th>メーカー</th>
          <td><%= @caritem.maker.name %></td>
        </tr>
        <tr>
          <th>燃料</th>
          <td><%= @caritem.fuel.name %></td>
        </tr>
        <tr>
          <th>ボディタイプ</th>
          <td><%= @caritem.bodytype.name %></td>
        </tr>
        <tr>
          <th>乗車定員</th>
          <td><%= @caritem.num_people %>人</td>
        </tr>
        <tr>
          <th>排気量</th>
          <td><%= @caritem.displacement %></td>
        </tr>
        <tr>
          <th>駆動方式</th>
          <td><%= @caritem.drive_system %></td>
        </tr>
        <tr>
          <th>ドア</th>
          <td><%= @caritem.door %></td>
        </tr>
        <tr>
          <th>ミッション</th>
          <td><%= @caritem.mission %></td>
        </tr>
        <tr>
          <th>年式（初度登録）</th>
          <td><%= @caritem.model_year %></td>
        </tr>
        <tr>
          <th>燃費</th>
          <td><%= @caritem.fuel_consumption %></td>
        </tr>
        <tr>
          <th>車両重量</th>
          <td><%= @caritem.weight %></td>
        </tr>
        <tr>
          <th>全長×全幅×全高</th>
          <td><%= @caritem.size %></td>
        </tr>
      </tbody>
    </table>
    </div>
    </div>
  </div>
</div>