<div class="container" style="max-width: 100%; max-height: 100%;">

  <%= form_with model: @caritem, url: caritem_path(@caritem.id), method: :patch do |f|  %>
    <div class="row justify-content-center"> <!--d-flexは削除-->
      <div class="col-md-4 mt-2">
        <!-- 車種名表示 -->
        <h3 class="text-center" style="font-weight: bold;"><%= @caritem.name %></h3>

        <!-- 車種名 -->
        <div class="mb-3">
          <%= f.label  :name, "車種名", class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <!-- メーカー名 -->
        <div class="mb-3">
          <%= f.label  :maker_id, "メーカー", class: 'form-label' %>
          <%= f.select :maker_id, options_from_collection_for_select(Maker.all, :id, :name), class: 'form-control' %>
        </div>

        <!-- 燃料名 -->
        <div class="mb-3">
          <%= f.label  :fuel_id, "燃料", class: 'form-label' %>
          <%= f.select :fuel_id, options_from_collection_for_select(Fuel.all, :id, :name), class: 'form-control' %>
        </div>

        <!-- ボディタイプ -->
        <div class="mb-3">
          <%= f.label  :bodytype_id, "ボディタイプ", class: 'form-label' %>
          <%= f.select :bodytype_id, options_from_collection_for_select(Bodytype.all, :id, :name), class: 'form-control' %>
        </div>

        <!-- 乗車定員 -->
        <div class="mb-3">
          <%= f.label  :num_people, "乗車定員(数値のみインプット)", class: 'form-label' %>
          <%= f.text_field :num_people,  class: 'form-control' %>
        </div>

        <!-- 排気量 -->
        <div class="mb-3">
          <%= f.label  :displacement, "排気量", class: 'form-label' %>
          <%= f.text_field :displacement,  class: 'form-control' %>
        </div>

        <!-- 駆動方式 -->
        <div class="mb-3">
          <%= f.label  :drive_system, "駆動方式", class: 'form-label' %>
          <%= f.text_field :drive_system,  class: 'form-control' %>
        </div>

        <!-- ドア -->
        <div class="mb-3">
          <%= f.label  :mission, "ドア", class: 'form-label' %>
          <%= f.text_field :mission,  class: 'form-control' %>
        </div>

        <!-- ミッション -->
        <div class="mb-3">
          <%= f.label  :mission, "ミッション", class: 'form-label' %>
          <%= f.text_field :mission,  class: 'form-control' %>
        </div>

        <!-- 年式 -->
        <div class="mb-3">
          <%= f.label  :model_year, "年式", class: 'form-label' %>
          <%= f.text_field :model_year,  class: 'form-control' %>
        </div>

        <!-- 燃費 -->
        <div class="mb-3">
          <%= f.label  :fuel_consumption, "燃費", class: 'form-label' %>
          <%= f.text_field :fuel_consumption,  class: 'form-control' %>
        </div>

        <!-- "車両重量 -->
        <div class="mb-3">
          <%= f.label  :weight, "車両重量", class: 'form-label' %>
          <%= f.text_field :weight,  class: 'form-control' %>
        </div>

        <!-- "全長×全幅×全高量 -->
        <div class="mb-3">
          <%= f.label  :size, "全長×全幅×全高量", class: 'form-label' %>
          <%= f.text_field :size,  class: 'form-control' %>
        </div>

        <!-- 画像投稿 -->
        <div class="mb-3">
          <%= f.label :car_image, "車種画像", class: 'form-label' %>
          <%= f.file_field :car_image, accept: "image/*", class: 'form-control' %>
        </div>

        <!-- 送信ボタン -->
        <div class="d-flex justify-content-center">
          <%= f.submit "編集" , class: 'btn btn-primary' %>
        </div>

      </div>
    </div>
  <% end %>
</div>
