<div class="container">
  <div class="row d-flex justify-content-center">
    ・1車種登録画面
  </div>
  <%= form_with model: @caritem, url: caritems_path, method: :post do |f| %>
  <div class="row d-flex justify-content-center">
  <table class="admin_item_info item_form">
    <thead>
      <tr>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= f.label :name, "車種名" %></td>
        <td><%=f.text_field :name %></td>
      </tr>
      <tr>
        <td><%= f.label :maker_id, "メーカー" %></td>
        <td><%= f.select :maker_id, option_from_collection_for_select(Maker.all, :id, :name)%></td>
      </tr>
      <tr>
        <td><%= f.label :num_people, "乗車定員(数値のみインプット)" %></td>
        <td><%= f.text_field :num_people %></td>
      </tr>
      <tr>
        <td><%= f.label :displacement, "排気量" %></td>
        <td><%= f.text_field :displacement %></td>
      </tr>
      <tr>
        <td><%= f.label :drive_system, "駆動方式" %></td>
        <td><%= f.text_field :drive_system %></td>
      </tr>
      <tr>
        <td><%= f.label :door, "ドア" %></td>
        <td><%= f.text_field :door %></td>
      </tr>
      <tr>
        <td><%= f.label :mission, "ミッション" %></td>
        <td><%= f.text_field :mission %></td>
      </tr>
      <tr>
        <td><%= f.label :model_year, "年式" %></td>
        <td><%= f.text_field :model_year %></td>
      </tr>
      <tr>
        <td><%= f.label :fuel, "燃料" %></td>
        <td><%= f.select :fuel, option_from_collection_for_select(Fuel.all, :id, :name)%></td>
      </tr>
      <tr>
        <td><%= f.label :body, "ボディタイプ" %></td>
        <td><%= f.select :body, option_from_collection_for_select(Bodytype.all, :id, :name)%></td>
      </tr>
      <tr>
        <td><%= f.label :fuel_consumption, "燃費" %></td>
        <td><%= f.text_field :fuel_consumption %></td>
      </tr>
      <tr>
        <td><%= f.label :weight, "車両重量" %></td>
        <td><%= f.text_field :weight %></td>
      </tr>
      <tr>
        <td><%= f.label :size, "全長×全幅×全高" %></td>
        <td><%= f.text_field :size %></td>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="row d-flex justify-content-center align-center pl5">
    <%= f.submit "登録", class: "btn btn-primary" %>
  </div>
  <% end %>
</div>