<div class="container">
  <div class="row" style="margin-top: 10px;">
    <div class="col-lg-1">
      登録情報
    </div>
    <div class="col-lg-2">
      <%= link_to '編集する', edit_user_path(@user.id), class: "btn btn-sm btn-success" %>
      <%= link_to '削除する', user_path(@user.id), method: :delete, class: "btn btn-sm btn-danger" %>
    </div>
  </div>

  <div class="row" style="margin-top: 10px;">
    <table class="table table-bordered">
      <tr>
        <th>氏名</th>
        <td><%= @user.last_name %> <%= @user.first_name %></td>
      </tr>
      <tr>
        <th>カナ</th>
        <td><%= @user.last_name_kana %> <%= @user.first_name_kana %></td>
      </tr>
      <tr>
        <th>メールアドレス</th>
        <td><%= @user.email %></td>
      </tr>
    </table>
  </div>
  <div>レビュー一覧</div>
  <div>
    <table class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th>車種名</th>
          <th>メーカー</th>
          <th>タイトル</th>
          <th>投稿日</th>
        </tr>
      </thead>
      <% @user.reviews.each do |review| %>
      <tbody>
        <tr>
          <td><%= review.car_item.name %></td>
          <td><%= review.car_item.maker.name %></td>
          <td><%= link_to review_path(review.id) do %><%= review.title_rev %><% end %></td>
          <td><%= review.updated_at.strftime("%Y/%m/%d") %></td>
        </tr>
      </tbody>
      <% end %>
    </table>
  </div>
</div>
