<div class="container">
  <%= form_with model: @maker, url: makers_path, method: :post do |f| %>
  <div class="row justify-content-center">
    <div class="col-md-6 mt-2">
      <table class="table">
        <tbody>
          <tr>
            <td><%= f.label :name, "メーカー" %></td>
            <td><%=f.text_field :name, class: "form-control" %></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <%= f.submit "登録", class: "btn btn-primary" %>
      </div>
    </div>
    <% end %>
  </div>
  
  <div class="row d-flex justify-content-center mt-4">
    <div class="col-md-6">
      <h2 class="text-center">メーカー一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @makers.each do |maker| %>
        <tbody>
          <tr>
            <td><%= maker.id %></td>
            <td><%= maker.name %></td>
            <td><%= link_to "編集する", edit_maker_path(maker.id), class: "btn btn-primary btn-sm"  %></td>
            <td><%= link_to "削除する", maker_path(maker.id), method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: "btn btn-danger btn-sm" %></td>
          </tr>
        </tbody>
      <% end %>
      </table>
    </div>
  </div>
</div>