<div class="container">
  <%= form_with model: @fuel, url: fuels_path, method: :post do |f| %>
  <div class="row justify-content-center mt-2">
    <div class="col-md-6">
      <table class="table">
        <tbody>
          <tr>
            <td><%= f.label :name, "燃料", class: "form-label" %></td>
            <td><%=f.text_field :name, class: "form-control"  %></td>
          </tr>
        </tbody>
      </table>
      <div class="text-center">
        <%= f.submit "登録", class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
  </div>

  <div class="row d-flex justify-content-center mt-4">
    <div class="col-md-6">
      <h2 class="text-center">燃料一覧</h2>
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <% @fuels.each do |fuel| %>
        <tbody>
          <tr>
            <td><%= fuel.id %></td>
            <td><%= fuel.name %></td>
            <td><%= link_to "編集する", edit_fuel_path(fuel.id), class: "btn btn-success btn-sm"  %></td>
            <td><%= link_to "削除する", fuel_path(fuel.id), method: :delete, data: { confirm: "削除してもよろしいですか？" }, class: "btn btn-danger btn-sm"  %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>